%p
  You (along with all the other leaders, coleaders, and registrars of this event) will receive an email any time someone registers for this event. You can also administer this trip as follows:
%ul
  %li
    From the
    = link_to "Event Info tab", @event_info_link
    you can send emails to all approved participants.
  %li
    From the
    = link_to "Roster tab,", @roster_link
    you can approve other registrants or export an Excel spreadsheet of participants.
  %li
    From the
    = link_to "Admin tab", @edit_event_link
    you can update information about the event itself, including required gear, meeting times and places, and pricing information
