= content_for :left do
  = link_to "Requests", admin_index_prospectives_path, :class => @tab_active_admin_prospectives
  %br
  = link_to "Staff", admin_users_path, :class => @tab_active_admin_index
  %br
  = link_to "Search", admin_search_path, :class => @tab_active_admin_search
