
- if current_user
  %h2 News Feed
  - current_user.morsels.each do |m|

    .morsel

      = m.phrase(current_user)
      = link_to m.event.event_name, roster_path(:id => m.event.id, :anchor => m.user_id)
      .morsel_date
        = "--" + m.created_at.to_date.casual      
        
    