<div class='visible_on_hover'>
  <div class='row1'>
  <dl>
    <dt>First letters indicate <b>mileage</b>:</dt>
    <dd>AA = 13 mi and over</dd>
    <dd>A = 9 to 13 mi</dd>
    <dd>B = 5 to 9 mi</dd>
    <dd>C = under 5 mi</dd>
  </dl>
  </div>
  <div class='row0'>
  <dl>
    <dt>Middle number indicates <b>pace</b> across &quot;average&quot; terrain:</dt>
    <dd>1 = very fast (2.5 mph+)</dd>
    <dd>2 = fast (2 to 2.5 mph)</dd>
    <dd>3 = moderate (1.5 to 2 mph)</dd>
    <dd>4 = leisurely (0.5 to 1.5 mph)</dd>
  </dl>
  </div>
  <div class='row1'>
  <dl>
    <dt>End letters indicate <b>terrain</b>:</dt>
    <dd>A = very strenuous</dd>
    <dd>B = strenuous</dd>
    <dd>C = average</dd>
    <dd>D = easy</dd>
  </dl>
  </div>

  <div class='row0'>
  <dl>
    <dt>Example: <b>B3B</b></dt>
    <dd>5-9 miles (B)</dd>
    <dd>moderately paced (3)</dd>
    <dd>on strenuous terrain (B)</dd>
  </dl>
  </div>
</div>
