= render '/admin/admin_left_tabs'
#center
  %h1 Requests
  %p These users have requested "staff" privileges on this site. Please verify that they have completed AMC leadership training.
  #roster_bin

    = render 'admin_display_single_user'
