= render '/admin/admin_left_tabs'
#center
  %h1 Event Creators
  %p These are all the event creators in this system. To be a creator, you must have completed AMC leadership training. 
  #roster_bin

    = render 'admin_display_single_user'
